@charset "UTF-8";

.wrapper {
	overflow: auto;
	background-color: #CAD8E8;
	margin: 0 auto;
	width: 70%;
	max-width: 850px;
	min-width: 400px;}

header {
	padding-left: 15%;
	background-color: #CAD8E8;
}

nav {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-left: 15%;
	padding-bottom: 5px;
	background-color: #CAD8E8;
	}
	
a {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	padding: 0 5px 0 5px
}
	
ul {
	list-style: none;
}

#back-to-top {
	background-color: #ACBCE8;
}

#join {
	background-color: #CAD8E8;
	overflow: auto;
	clear: both;
	}


#manifesto, #origins {
	padding-top: 5px;
	background-color: #ACBCE8;
}
  
article {
	background-color: #ACBCE8;
}

  
p {
	font-size: 14px;
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Open Sans', sans-serif;
}

h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
	padding-left: 15%;
	padding-right: 15%;
}

blockquote {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	padding-left: 12%;
	padding-right: 12%;
}

img {
	height: 200px;
	width: 300px;
	padding-left: 30%;
	padding-right: 30%
}


.split-column {
	width: 50%;
	padding-bottom: 10px;
	float: left;
}


dl {
	margin-bottom: 10px;
}

dd {
	margin-bottom: 10px;
}


footer {
	clear: both;
	text-align: center;
	background-color: #ACBCE8; }